/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

/* 
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
} */



/* ================================================
   GLOBAL STYLES
   ================================================ */

:root {
  --FocusOrange: #FF6200;
  --Peach: #FFC28C;
  --BearBrown: #8E6655;
  --ArmyGreen: #787C54;
  --Dust: #D9C5A1;
  --SnowWhite: #ffffff;
  --Black: #060606;

  --Grey: #f4f4f4;

  --PoppinsFont: "Poppins", serif;
  --WixFont: "Wix Madefor Text", serif;

  --VerticalSectionSpace: 50px;

  --pageMarginDesktop: 10rem;
  --pageMarginMobile: 1rem:
    /* Angiv vairabler så som farver, størrelser på margin, padding osv. */
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: var(--WixFont);
  /* 18px */
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

a {
  /* 20px */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--PoppinsFont);
}

h1 {
  /* 48px */
  font-size: 3rem;
  font-family: var(--PoppinsFont);
  font-weight: 700;
}

h2 {
  /* 40px */
  font-size: 48px;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h3 {
  /* 32px */
  font-size: 2rem;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h4 {
  /* 24px */
  font-size: 1.5rem;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h5 {
  /* 20px */
  font-size: 1.25rem;
  font-family: var(--PoppinsFont);
  font-weight: 500;
}

h6 {
  /* 18px */
  font-size: 1.125rem;
  font-family: var(--PoppinsFont);
  font-weight: 500;
}

/* OBS VED MERCH */
main {
  margin-left: var(--pageMarginDesktop);
  margin-right: var(--pageMarginDesktop);
}

/* ================================================
   NAVIGATION
   ================================================ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  position: relative;
  z-index: 200;
}

.bookingNav {
  background-color: var(--FocusOrange);
  text-decoration: none;
  color: var(--SnowWhite);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  background-color: var(--SnowWhite);
  list-style-type: none;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--Black);
  text-decoration: none;
  background-color: var(--SnowWhite);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  height: 100%;
}

.dropdown {
  height: 100%;
}

.dropdown>.nav-link,
.nav-links>li>.nav-link {
  margin: 0 30px;
}

ul {
  padding-inline-start: 0;
}


.dropdown-menu {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  background-color: var(--SnowWhite);
  padding: 2rem;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0.3s;
}

/* Når der hovers over dropdown, vises menuen med en glidende effekt */
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0s;
}


.NavImageContainer {
  width: 35%;
  margin-left: 10%;
}

.dropdown-menu img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.dropdown-menu .nav-link {
  padding: 0.5rem 1rem;
  color: var(--Black);
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .nav-link:hover,
.nav-link:hover {
  color: var(--FocusOrange);
}

li {
  list-style-type: none;
}

.logo {
  height: 90%;
  margin-left: 1rem;
}

.plusIcon {
  height: 1.125rem;
}

.cls-1 {
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 60px;
  transition: stroke-width 0.3s ease, stroke 0.3s ease;
}

/* Klasse der fjerner den lodrette linje */
.line-hidden {
  stroke-width: 0px;
  /* Skjul linjen ved at sætte stroke-width til 0 */
  stroke: transparent;
  /* Gør linjen usynlig */
}

/* ================================================
    MEDIA PREFERENCE 
   ================================================ */


@media (prefers-reduced-motion: no-preference) {


  /* KEYFRAME ANIMATIONS - Slået fra ved anden indstilling - for accessability */
  @keyframes arrowMoveRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(20px);
      opacity: 0;
    }
  }

}

/* ================================================
   FORSIDE
   ================================================ */









/* ================================================
   BRILLER
   ================================================ */









/* ================================================
   OM BRILLER
   ================================================ */








/* ================================================
   SYN & SUNDHED
   ================================================ */








/* ================================================
   OEJENSUNDHED
   ================================================ */








/* ================================================
   VIDEN OM BRILLER OG LINSER
   ================================================ */







/* ================================================
   SYNSTEST & AFPROEVNING
   ================================================ */








/* ================================================
   OM FOCUS OPTIK
   ================================================ */

/* Hero section  */

.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headerContainer {
  position: relative;
}

.headerContainer h1 {
  position: absolute;
  top: 45%;
  left: 5%;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--Black);
}

/* NavCard section */

.navCardContainer {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navCard {
  border-radius: 5px;
  background-color: var(--Grey);
  max-width: 462px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.navCard img {
  width: 100%;
  object-fit: cover;
}

.cardText p,
.valuesItem p {
  max-width: 80%;
  text-align: center;
  padding-bottom: 1rem;
}

/* .navCard a,
article a {
  text-decoration: none;
  color: var(--SnowWhite);
  background-color: var(--FocusOrange);
  padding: 10px 15px;
  border-radius: 12px;
  stroke: var(--FocusOrange);
  stroke-width: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
} */

.cardBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* vores værdier sektion */

.valuesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.valuesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  background-color: var(--Grey);
}

.valuesHeader {
  text-align: center;
  display: flex;
  justify-content: center;
}

.valueImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}



/* ================================================
   VORES TEAM
   ================================================ */

.teamContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  text-align: center;
}

.teamMember p {
  max-width: 80%;
}

.teamMember img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-height: 455px;
  border-radius: 5px;
  background-color: var(--Grey);
}

.memberCard .strongText {
  font-weight: 600;
}







/* ================================================
   BUTIKKEN
   ================================================ */
.twoColumnSection {
  display: flex;
  gap: 2rem;
}

.imageContainer {}

.galleryItem {
  /* width: 100%; */
  cursor: pointer;
}



.iconStylingOrange {
  color: var(--FocusOrange);
  font-size: 3rem;
  stroke: var(--FocusOrange);
  stroke-width: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.iconStylingBlack {
  color: var(--Black);
  font-size: 3rem;
  stroke: var(--FocusOrange);
  stroke-width: 2px;
  padding: 0.5rem;
}

.iconStylingWhite {
  color: var(--SnowWhite);
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.cardBtn:hover .iconStylingWhite {
  animation: arrowMoveRight 1s ease infinite;
}


/* NEDENSTÅENDE SLETTES INDEN MERCH */
.theButton,
.button {
  /* display: inline-block; */
  font-family: var(--PoppinsFont);
  padding: 5px 10px;
  width: fit-content;
  color: white;
  background-color: var(--FocusOrange);
  border: 2px solid var(--FocusOrange);
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.theButton:hover,
.button:hover {
  text-decoration: underline;
}

.theButton:active,
.button:active {
  box-shadow: inset 0 -2px 7px rgba(0, 0, 0, 0.25), inset 0 4px 7px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}




.sideImg {
  width: 100%;
  object-fit: cover;
}

.cardHelp {
  position: relative;
}

.cardHelp img {
  width: 80vw;
  max-height: 450px;
  object-fit: cover;
}

.cardHelpText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
}

.centerText {
  display: flex;
  align-items: center;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--Grey);
  border-radius: 5px;
  border-color: var(--Grey);
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.accordionHeader:hover {
  background-color: var(--FocusOrange);
  color: var(--SnowWhite);
}

.accordionContent {
  display: none;
  padding: 1rem;
  border-radius: 5px;
  border-color: var(--Grey);
  background-color: var(--Grey);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: max-height 0.9s ease-in;
  font-family: var(--WixFont);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.accordionContentActive {
  display: block;
  max-height: 500px;
}







/* ================================================
   FOCUS FLEX
   ================================================ */