/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

/* 
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
} */


:root {
  --FocusOrange: #FF6200;
  --Peach: #FFC28C;
  --BearBrown: #8E6655;
  --ArmyGreen: #787C54;
  --Dust: #D9C5A1;
  --SnowWhite: #ffffff;
  --Black: #060606;

  --PoppinsFont: "Poppins", serif;
  --WixFont: "Wix Madefor Text", serif;

  --VerticalSectionSpace: 50px;

  /* Angiv vairabler så som farver, størrelser på margin, padding osv. */
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: var(--WixFont);
  /* 18px */
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

a {
  /* 20px */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--PoppinsFont);
}

h1 {
  /* 48px */
  font-size: 3rem;
  font-family: var(--PoppinsFont);
  font-weight: 700;
}

h2 {
  /* 40px */
  font-size: 48px;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h3 {
  /* 32px */
  font-size: 2rem;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h4 {
  /* 24px */
  font-size: 1.5rem;
  font-family: var(--PoppinsFont);
  font-weight: 600;
}

h5 {
  /* 20px */
  font-size: 1.25rem;
  font-family: var(--PoppinsFont);
  font-weight: 500;
}

h6 {
  /* 18px */
  font-size: 1.125rem;
  font-family: var(--PoppinsFont);
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  position: relative;
  z-index: 200;
}

.bookingNav {
  background-color: var(--FocusOrange);
  text-decoration: none;
  color: var(--SnowWhite);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  background-color: var(--SnowWhite);
  list-style-type: none;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--Black);
  text-decoration: none;
  background-color: var(--SnowWhite);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  height: 100%;
}

.dropdown {
  height: 100%;
}

.dropdown>.nav-link,
.nav-links>li>.nav-link {
  margin: 0 30px;
}

ul {
  padding-inline-start: 0;
}


.dropdown-menu {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  background-color: var(--SnowWhite);
  padding: 2rem;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0.3s;
}

/* Når der hovers over dropdown, vises menuen med en glidende effekt */
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0s;
}


.NavImageContainer {
  width: 35%;
  margin-left: 10%;
}

.dropdown-menu img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.dropdown-menu .nav-link {
  padding: 0.5rem 1rem;
  color: var(--Black);
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .nav-link:hover,
.nav-link:hover {
  color: var(--FocusOrange);
}

li {
  list-style-type: none;
}

.logo {
  height: 90%;
  margin-left: 1rem;
}

.plusIcon {
  height: 1.125rem;
}

.cls-1 {
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 60px;
  transition: stroke-width 0.3s ease, stroke 0.3s ease;
}

/* Klasse der fjerner den lodrette linje */
.line-hidden {
  stroke-width: 0px;
  /* Skjul linjen ved at sætte stroke-width til 0 */
  stroke: transparent;
  /* Gør linjen usynlig */
}